@{
    ViewData["SecondPage"] = "Guide Page";
}


<!DOCTYPE html>

<html>

<head>
    <title>Ethoria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="viewport" content="width-device-width, initial-scale=10">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajacx.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Heroes_Of_Ethoria_Guide.css" />

    <style>
        .header {
            background-color: darkgray;
            padding: 10px;
            text-align: center;
            font-family: 'AR JULIAN';
            border: 2px solid black;
            font-size: large;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 15px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <div align="center">
        <img style="background-position: center" ; id="image" width="100" height="100" src="http://2.bp.blogspot.com/_MmUR0oAOh_0/S9QCCEdPL8I/AAAAAAAAAUo/wlAXlOoyT7M/s320/crossed-swords-vector.gif">
    </div>
    <div class="container">
        <div align="center">
            <div class="row">
                <div class="col-lg">

                    <a class="btn btn-primary btn-lg" a href="Index" role="button"> Main Menu</a>

                </div>

            </div>
        </div>
        

    </div>

    <div class="header" align="center" style="font-family: 'AR JULIAN'; font-size : xx-large">
        <u>Game Guide</u>
    </div>

    <div class="column">

        <div class="row">
            <h2>
                <img alt="Man, Knight, Fighter, Sword, Courageous, Clothing" ; id="image" width="180" height="180" src="https://cdn.pixabay.com/photo/2018/03/01/15/40/man-3190959_640.png" srcset="https://cdn.pixabay.com/photo/2018/03/01/15/40/man-3190959_640.png 1x, https://cdn.pixabay.com/photo/2018/03/01/15/40/man-3190959_1280.png 2x">
                <a class="btn btn-primary btn-lg" href="Heroes_Of_Ethoria_Features.html" role="button">Features</a>
            </h2>
        </div>
    </div>

    <div class="column">
        <div class="row">
            <h2>
                <img alt="Dragon, Flying, Wings, Fantasy, Fairytale, 3D, Red" ; id="image" width="200" height="200" src="https://cdn.pixabay.com/photo/2016/12/30/11/17/dragon-1940366_640.png" srcset="https://cdn.pixabay.com/photo/2016/12/30/11/17/dragon-1940366_640.png 1x, https://cdn.pixabay.com/photo/2016/12/30/11/17/dragon-1940366_1280.png 2x">
                <a class="btn btn-primary btn-lg" href="Heroe_Of_Ethoria_Traveller_Guide.html" role="button">Traveller's Guide</a>
            </h2>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <h2>
                <img alt="Orc, Ogre, Troll, Warrior, Monster, Fantasy, Goblin" ; id="image" width="200" height="200" src="https://cdn.pixabay.com/photo/2019/08/11/23/22/orc-4400045_960_720.png" srcset="https://cdn.pixabay.com/photo/2019/08/11/23/22/orc-4400045_960_720.png 1x, https://cdn.pixabay.com/photo/2019/08/11/23/22/orc-4400045_1280.png" />
                <a class="btn btn-primary btn-lg" href="Heroes_Of_Ethoria_World.html" role="button">World</a>
            </h2>
        </div>
    </div>


</body>


</html>