@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html lang="en-gb">

<head>
    <title>Ethoria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Heroes_Of_Ethoria.css" />
    <style>
        .header {
            background-color: darkgray;
            padding: 10px;
            text-align: center;
            font-family: 'AR JULIAN';
            border: 2px solid black;
            font-size: large;
        }
        p.round1 {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div align ="center">
        <h1>
            <img style="background-position:center" ; id="image" width="100" height="100" src="http://2.bp.blogspot.com/_MmUR0oAOh_0/S9QCCEdPL8I/AAAAAAAAAUo/wlAXlOoyT7M/s320/crossed-swords-vector.gif">
        </h1>
        Welcome To Heroes of Ethoria
    </div>

    <p class="container">
        <div align="center">
            <div class="row">
                <div class="col-lg">
                    <a class="btn btn-primary btn-lg" a href="GuidePage" role="button"> Guide</a>
                    <button type="button" class="btn btn-info btn-lg">Play Now</button>
                </div>
            </div>
        </div>
    </p>
    <div class="round1">
        <div align="center">
            <h2> <img class="js-photo-page-image-img" style="background: rgb(112, 122, 151);max-height: 75vh;max-width: calc((2600 / 1360) * 75vh);min-height: 300px;min-width: calc((2600 / 1360) * 300px);" alt="Rock Mountain With Snow Under Blue Sky and White Clouds" src="https://images.pexels.com/photos/207195/pexels-photo-207195.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260" srcset="https://images.pexels.com/photos/207195/pexels-photo-207195.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940 940w, https://images.pexels.com/photos/207195/pexels-photo-207195.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260 1260w, https://images.pexels.com/photos/207195/pexels-photo-207195.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940 1880w, https://images.pexels.com/photos/207195/pexels-photo-207195.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260 2520w" data-zoom-src="https://images.pexels.com/photos/207195/pexels-photo-207195.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" data-zoom-initiated="true"></h2>
            <h2 style="font-family: 'AR JULIAN'"> Welcome to Heroes of Ethoria, a fantasy game that is only limited by your imagination</h2>
        </div>
    </div>
    <div class="container">
        <div align="center">
            <div class="row">
                <div class="col-lg">
                    <button type="button" class="btn btn-info btn-lg">Play Now</button>
                </div>
                <div class"col-lg></div>
            </div>
        </div>
    </div>
    <h2 style="font-family: 'AR JULIAN'", align="center"> Updated continuously with new quests, features, and content, there's practically limitless adventure for all. </h2>
    <h2 style="font-family: 'AR JULIAN'", align="center">Come experience Heroes of Ethoria!!</h2>
</body>

</html>
