@{
    ViewData["ThirdPage"] = "Feature Page";
}

<!DOCTYPE html>

<html>

<head>
    <title>Ethoria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="viewport" content="width-device-width, initial-scale=10">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajacx.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Heroes_Of_Ethoria.css" />

    <style>
        .header {
            background-color: darkgray;
            padding: 10px;
            text-align: center;
            font-family: 'AR JULIAN';
            border: 2px solid black;
            font-size: large;
        }
    </style>

</head>

    <body>


        <a class="btn btn-primary btn-lg" asp-controller="GuidePage"> Guide</a>

        <div align="center">

            

            <h2 style="font-family: 'AR JULIAN'"> 404 : SORRY M'LORD. THE DESTINATION IS UNKNOWN TO US</h2>

        </div>

    </body>



</html>
